html{
  margin: 0;
  height: 100%;
  padding: 0;
}

body {
  position:absolute;top:0px;left:0px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}



.content{
  text-align: center;
  background-color: #303030;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}


.cards{
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center; 
  justify-content: center;
  padding-bottom: 50px;
}

.card{
  text-align: center;
  width: 250px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  color: #222222;
  box-shadow: 0px 1px 5px 0px #252525;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.card h4{
  padding-top: 32px;
  margin-top: 0px;
  flex: 0 1 auto;
  font-size: 17pt;
  font-weight: bold;
}

.card div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  font-size: 27pt;
  font-weight: bold;
  border-radius: 9px;
  vertical-align: middle;
}


#footer{
  background-color: #222222;
  flex: 0 1 auto;
  text-decoration: none;
  color: white;
  margin-top: 30px;
  padding: 20px;
  font-size: 13pt;
}



.NONE {
  background-color: #909090;
}

.GOOD {
  background-color: #008080;
}

.OKAY {
  background-color: rgb(230, 168, 0);
}

.WARNING {
  background-color: rgb(250, 121, 0);
}

.DANGER {
  background-color: red;
  animation: blinker 1s linear infinite;
}

.ACTIVE {
  background-color: #003f92;
}

@keyframes blinker {
  50% {
    background-color: rgb(189, 0, 0);
  }
}








/*Logo and controls*/
.btnToOld{
  flex: 0 1 auto;
  margin-top: 20px;
  margin-bottom: 60px;
}

.btnToOld a{
  font-weight: normal;
  font-size: 12pt;
  color: #cccccc;
  background-color: #222222;
  padding: 10px 17px 10px 17px;
  border-radius: 7px;
  text-decoration: none;
  box-shadow: 0px 1px 5px 0px #252525;
}

.logo{
  text-shadow: 1px 1px 2px #444444; 
  flex: 0 1 auto;
  margin-top: 60px;
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 25pt;
  color: #eeeeee;
}

.logo sup{
  font-size: 16pt;
}