html{
  margin: 0;
  height: 100%;
  padding: 0;
}

body {
  position:absolute;top:0px;left:0px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}


.NONE {
  fill: #909090;
}

.GOOD {
  fill: #008080;
}

.ACTIVE {
  fill: #003375;
  animation: active_blinker 1s linear infinite;
}

.OKAY {
  fill: rgb(230, 168, 0);
}

.WARNING {
  fill: rgb(250, 121, 0);
}

.DANGER {
  fill: red;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    fill: rgb(189, 0, 0);
  }
}


@keyframes active_blinker {
  50% {
    fill: rgb(0, 60, 189);
  }
}

.piSVG{
  height: auto;
  width: 700px;
  max-height: 100%;
  max-width: 100%;
}

.svgView{
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center; 
 
}

.logo{
  flex: 0 1 auto;
  margin-top: 60px;
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 25pt;
  color: #808080;
}

.btnToOld{
  flex: 0 1 auto;
  margin-top: 20px;
  margin-bottom: 60px;
}

.btnToOld a{
  font-weight: normal;
  font-size: 12pt;
  color: #cccccc;
  background-color: #707070;
  padding: 10px 17px 10px 17px;
  border-radius: 7px;
  text-decoration: none;
  box-shadow: 0px 1px 3px 0px #606060;
}

.logo sup{
  font-size: 16pt;
  color: #959595;
}

.svgBase{
  text-align: center;
  background-color: #cccccc;
  display: flex;
  flex-flow: column;
}