:root {
    --treeWhite: #f9f9f9;
    --treeBrown: #b19d8e;
    --treeGreen: #b3c670;
    --treeDark: #6f797c;
    --treeBeige: #ecece9;
}

body * {
    box-sizing: border-box;
    position: relative;
}

body {
    width: 100%;
    margin: 0px;
    background-color: #eeeeee;
}

.contentBase {
    margin-bottom: 150px;
}

.title {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    font-size: 24pt;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

.canv {
    width: 850px;
    height: calc(850px * 1.282);
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    background-image: url("map.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.editTitleRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.editTitleRow button{
    flex: 0 1 60px;
}

.editTitleRow input{
    flex: 1 1 auto;
    max-width: 230px !important;
}

.editIconButton{
    padding: 4px;
    background-color: transparent;
    border: none;
}

.editRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.plantDisabled{
    opacity: 0.5;
    pointer-events: none;
}

.editRowTitle {
    margin-left: 4px;
    margin-bottom: 10px;
    font-size: 11pt;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

.editRow input {
    max-width: 47%;
}

#editOverlay {
    visibility: hidden;
    z-index: 5;
    position: fixed;
    background-color: white;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0px 2px 8px -2px #bbbbbb;
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
    max-width: 300px;

    width: 300px;
}

#enableOverlay {
    visibility: hidden;
    z-index: 6;
    position: fixed;
    background-color: white;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    box-shadow: 0px 2px 8px -1px #aaaaaa;
    padding: 10px;
    border-radius: 10px;
}

#enableOverlay div{
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
    text-align: center;
}

.editField {
    width: 100%;
    max-width: 100%;
    padding: 4px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid #eeeeee;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
}

.editFieldTitle {
    font-size: 17pt;
    font-weight: bold;
}

.editButton {
    background-color: #008080;
    color: #ffffff;
    border-radius: 4px;
    border: none;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
}

.editHighlightGroup{
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px;
    /*border-radius: 4px;*/
    background-color: #f3f3f3;
}

#dataSVG {
    width: calc(100% + 100px);
    height: calc(100% + 100px);
    margin: -50px;
}

#editSaveButton{
    display: block;
}

#editLoadingIndicator{
    margin-top: 20px;
    text-align: center;
    height: 37px;
}

#editLoadingIndicator img{
    animation:spin 2s linear infinite;
}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.footer{
    color: #707070;
    font-family: 'Roboto', sans-serif;
    font-size: 9pt;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
}

.downloadButton {
    background-color: #606060;
    color: #ffffff;
    border-radius: 4px;
    border: none;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    text-decoration: none;
}

.editSelect{
    width: 100%;
    border: none;
    background-color: #eeeeee;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 20px;
}